* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.grid-container {
  display: grid;
  grid-template-columns: 20rem 1fr;

  grid-template-areas:
    'header header'
    'left right';
  gap: 1rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#newsPaperImage {
  max-width: 5rem;
  margin-right: 2rem;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.search {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-right: 1rem;

  #searchBar {
    max-width: 50rem;
    max-height: 3rem;
    min-height: 2rem;
  }
  .searchButton {
    margin-top: 1rem;
    max-width: 50rem;
  }
}

.like-button {
  display: flex;
  justify-content: flex-end;
}

.back-home-button {
  margin-bottom: 1rem;
}

.main-article-item,
.article-item,
.comments-list {
  grid-column: 2;
}

.main-article-item,
.article-item,
.comments {
  border-radius: 1rem;
  box-shadow: 0 0 1rem #1a1a1a;
  list-style: none;
  padding: 1rem;
  text-align: start;
  margin-top: 1rem;
  background-color: #2f2f2f;
  max-width: 40rem;
}

.main-article-image,
.article-image {
  margin-top: 1rem;
  max-width: 40rem;
  border: 1px solid transparent;
}

.article-image {
  max-width: 20rem;
}
.article-item {
  max-width: 20rem;
}

.main-article-image:hover,
.article-image:hover {
  border-color: #6d938c;
}

.main-article-image:focus,
.main-article-image:focus-visible,
.article-image:focus,
.article-image:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
