* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#newsPaperImage {
  max-width: 10rem;
}

header {
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.search {
  margin-top: 1rem;

  display: flex;
  flex-direction: flex-start;
  align-items: center;
  text-align: start;

  #searchBar {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 50rem;
    max-height: 2rem;
  }
}


.articleImages {
  max-width: 25rem;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0;
  background-color: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.mainArticleImage {
  margin-top: 1rem;
  max-width: 50rem;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0;
  background-color: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.articleListItem {
  list-style-position: inside;
  list-style-type: square;
  border-width: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #1a1a1a;
  list-style: none;
  padding: 1rem;
  text-align: start;
  margin-top: 2rem;
  background-color: #2f2f2f;
}

.mainArticleItem {
  list-style-position: inside;
  list-style-type: square;
  border-width: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #1a1a1a;
  list-style: none;
  padding: 1rem;
  text-align: start;
  margin-top: 2rem;
  background-color: #2f2f2f;
}

.comments {
  list-style-position: inside;
  list-style-type: square;
  border-width: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #1a1a1a;
  list-style: none;
  padding: 1rem;
  text-align: start;
  margin-top: 2rem;
  background-color: #2f2f2f;
}

.likeButton {
  display: flex;
  justify-content: flex-end;
}

.backHomeButton {
  margin-top: 2rem;
}

img:hover {
  border-color: #6d938c;
}
img:focus,
img:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
