* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#newsPaperImage {
  max-width: 10rem;
}

.articleImages {
  margin-top: 1rem;
  max-width: 25rem;
}

li {
  list-style-position: inside;
  list-style-type: square;
  border-width: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #1a1a1a;
  list-style: none;
  padding: 1rem;
  text-align: start;
  margin-top: 2rem;
  background-color: #2f2f2f;
}

.articleButton {
  display: flex;
}
